<%- include ("./layout/top") %>
    <style>
        .black-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0.2;
            z-index: 999;
        }
        
        .content-bg {
            background-image: url("img/bg2.jpg");
        }
		@media screen and (min-width: 600px) and (max-width: 719px) {
            .btn-wrapper {
                display: none;
        }
        
        @media screen and (min-width: 375px) and (max-width: 599px) {
            .btn-wrapper {
                display: none;
            }
        }
    </style>
    <div class="submit-container">
        <a class="submit-btn" action="/submit" method="post"><i class="xi-upload"></i>Submit</a>
        <a class="reset"><i class="xi-redo"></i></a>
    </div>

    <div class="vote_title">
        <img src="img/vote.svg">
        <div class="black-bg ">
            <div class="content-bg">
            </div>
        </div>
    </div>

    <div>
        <% for(var i=0; i < vote_info.length; i++){ %>
            <div>
                <div class="pttitle">
                    <%= 10 - i %>pt
                </div>
                <% for(var j=0; j < vote_info[i].length; j++){ %>
                    <%if(vote_info[i][j]){%>
                        <td>

                            <div class="info">
                                <tr>
                                    <td rowspan="2"><img style="width: 64px; height: 64px;" class=<%=(String(10 - i) + "_" + String(j + 1) + "_img" )%> src="/img/placeholder.jpg"></td>

                                    <input placeholder="<%= (j==0) ? " Click here and type to vote your best player (Required, 필수) " : " Click here and type to vote your best player " %>" class="pname" type="text" name=<%=(String(10 - i) + "_" + String(j + 1) + "_text" )%>                                    required size="10">
                                    <!-- <a class="<%=String(10 - i) + "_" + String(j + 1) %> btn search-btn">SEARCH</a> -->

                                    <!-- <td><span style="color: white;" class=<%=(String(10 - i) + "_" + String(j + 1) + "_name" )%>> -->

                                </tr>
                                <tr>
                                    <!-- <td><span style="color: white;" class=<%=(String(10 - i) + "_" + String(j + 1) + "_rank" )%>> -->
                                    </span>
                        </td>
                        <td></td>
                        </tr>

                        </div>
                        <!-- <p>
                                        <%=String(10 - i) + "_" + String(j + 1) %>
                                    </p> -->
                        <div class="input_wrap">
                            <!-- <input class=<%=String(10 - i) + "_" + String(j + 1) %> type="text" name=<%=(String(10 - i) + "_" + String(j + 1) + "_text" )%> required size="10"> -->
                            <!-- <a class="<%=String(10 - i) + "_" + String(j + 1) %> btn search-btn">SEARCH</a> -->
                        </div>
                        <!-- <form class=<%=String(10 - i) + "_" + String(j + 1) + "_form" %> action="/main" method="POST">

                                </form> -->

                        </td>
                        <%}%>
                            <% } %>
            </div>
            <% } %>

    </div>

    <script>
        var inputname, rank, name, image;
        var db = {
            "username": $('.nicname_me').text(),
            "id": $('.id_me').val()
        }
        const vote_info = [
            [
                [10, 1], 0, 0
            ],
            [
                [9, 1], 0, 0
            ],
            [
                [8, 1],
                [8, 2], 0
            ],
            [
                [7, 1],
                [7, 2], 0
            ],
            [
                [6, 1],
                [6, 2], 0
            ],
            [
                [5, 1],
                [5, 2],
                [5, 3]
            ],
            [
                [4, 1],
                [4, 2],
                [4, 3]
            ],
            [
                [3, 1],
                [3, 2],
                [3, 3]
            ]
        ]

        vote_info.forEach(i => i.forEach(j => {
            if (j) {
                db[j[0] + "_" + j[1]] = null;
                db[j[0] + "_" + j[1] + "_avatar"] = null;
                db[j[0] + "_" + j[1] + "_id"] = null;
            }
        }))

        
		function delay(callback, ms) {
			var timer = 0;
			return function() {
				var context = this,
					args = arguments;
				clearTimeout(timer);
				timer = setTimeout(function() {
					callback.apply(context, args);
				}, ms || 0);
			};
		}

        $(document).ready(function() {

            $.ajax({
                url: '/init',
                type: 'post',
                data: {
                    id: $('.id_me').val()
                },
                success: function(json) {
                    if (json) {
                        Object.keys(json).forEach((i, index) => {
                            db[i] = json[i]
                            if (index % 3 == 2) {
                                $('input[name=' + i + '_text]').val(db[i])
                                if (json[i + "_avatar"]) {
                                    $('.' + i + "_img").attr('src', json[i + "_avatar"]);
                                }
                            }
                        })
                    }
                }
            })


            $('.submit-btn').on('click', () => {
                var str = "";
                for (var i = 0; i < vote_info.length; i++) {
                    if (!db[String(10 - i) + "_1"]) {
                        str += String(10 - i) + "pt 첫번째 칸을 반드시 채워주세요!\n"
                    }
                }
				var c = Object.keys(db)
				var check_num = 0;
				for(var i = 0; i < c.length; i++){
					for(var j = i+1; j < c.length ; j++){
						if(db[c[i]] == db[c[j]] && db[c[i]] != null) {
							check_num++;
						}
					}
				}
				if(check_num != 0){
					alert("Invalid access!");					
				}else if (!str) {
                    if (confirm("정말로 제출하시겠습니까?\nPlease double check")) {
                        $.ajax({
                            url: '/submit',
                            type: 'post',
                            data: db,
                            success: function(json) {
                                alert(json.mes);
                                window.location.href = json.redirect
                            },
                            error: function(json) {
                                alert('Invalied access!')
                            }

                        })
                    } else {

                    }
                } else {
                    alert(str);
                }
            })

            $('.pname').on('keyup', delay(function() {
					var sname = $(this).val();
					inputname = $(this).attr('name');
					inputname = inputname.replace('_text', '');
					image = "." + inputname + "_img";
					rank = "." + inputname + "_rank";
					var data = {
						name: sname,
						inputname: inputname
					};
					if (!sname.length) {
						db[inputname] = null;
						db[inputname + "_avatar"] = null;
						db[inputname + "_id"] = null;
						$(image).attr('src', "/img/placeholder.jpg");
						$(rank).text(null);
					}
					$.ajax({
						url: '/main',
						type: 'post',
						data: data,
						success: function(json) {
							if (json.name != "") {
								var compare = isDuplicated(db, json.id, json.inputname + "_id");

								name = json.inputname + "_text";
								if (!compare) {
									image = "." + json.inputname + "_img";
									rank = "." + json.inputname + "_rank";
									db[json.inputname] = json.name;
									db[json.inputname + "_id"] = String(json.id);
									db[json.inputname + "_avatar"] = json.img;
									$('input[name=' + name + ']').val(db[json.inputname]);
									$(image).attr('src', db[json.inputname + "_avatar"]);
									$(rank).text(json.rank.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","));

								} else if (compare == -1) {
									var input = $('input[name=' + name + ']')
									input.attr("placeholder", "You can't vote for yourself")
									input.val("");
									return setTimeout(() => {
										if (Number(name.split('_')[1]) == 1) input.attr("placeholder", "Click here and type to vote your best player (Required, 필수)")
										else input.attr("placeholder", "Click here and type to vote your best player")
									}, 3000);;

								} else if (compare == -2) {
									var input = $('input[name=' + name + ']')
									input.attr("placeholder", "You can't vote for the same user")
									input.val("");
									return setTimeout(() => {
										if (Number(name.split('_')[1]) == 0) input.attr("placeholder", "Click here and type to vote your best player (Required, 필수)")
										else input.attr("placeholder", "Click here and type to vote your best player")
									}, 3000);;
								}
							}
						}
					})
				}, 500))


            $('.reset').on('click', () => {
                vote_info.forEach(i => i.forEach(j => {
                    if (j) {
                        db[j[0] + "_" + j[1]] = null;
                        db[j[0] + "_" + j[1] + "_avatar"] = null;
						db[j[0] + "_" + j[1] + "_id"] = null;
                        $('.' + j[0] + "_" + j[1] + "_img").attr('src', '/img/placeholder.jpg');
                    }
                }))
                $('.pname').val("");
            })
        })

        function isDuplicated(db, id, inputname) {
            if (db['id'] == id) {
                return -1;
            }
            var keys = Object.keys(db)

            for (var i = 0; i < keys.length; i++) {
                if (keys[i] != inputname) {
                    if (db[keys[i]] == id) {
                        return -2;
                    }
                }

            }
            return 0;
        }
    </script>
</div>
</div>
</body>

</html>