<%- include ("./layout/top") %>
<div class="submit-container">
    <a class="submit-btn">Submit</a></div>

    <div class="vote_title"><span>VOTE<br>SECTION</span></div>

        <div>
            <% for(var i=0; i < vote_info.length; i++){ %>
                <div>
                    <div class="pttitle"><%= 10 - i %>pt</div>
                    <% for(var j=0; j < vote_info[i].length; j++){ %>
                        <%if(vote_info[i][j]){%>
                            <td>
                                
                                    <div class="info">
                                        <tr>
                                            <td rowspan="2"><img style="width: 64px; height: 64px;" class=<%=(String(10 - i) + "pt" + String(j + 1) + "_img" )%> src="/img/placeholder.jpg"></td>
                                        
                                            <input placeholder="Click here to vote your best player" class="pname" type="text" name=<%=(String(10 - i) + "pt" + String(j + 1) + "_text" )%> required size="10">
                                                <!-- <a class="<%=String(10 - i) + "pt" + String(j + 1) %> btn search-btn">SEARCH</a> -->
                                       
                                            <!-- <td><span style="color: white;" class=<%=(String(10 - i) + "pt" + String(j + 1) + "_name" )%>> -->
                                           
                                        </tr>
                                        <tr>
                                            <!-- <td><span style="color: white;" class=<%=(String(10 - i) + "pt" + String(j + 1) + "_rank" )%>> -->
                                        </span></td>
                                            <td></td>
                                        </tr>

                                    </div>
                                    <!-- <p>
                                        <%=String(10 - i) + "pt" + String(j + 1) %>
                                    </p> -->
                                    <div class="input_wrap">
                                        <!-- <input class="pname" type="text" name=<%=(String(10 - i) + "pt" + String(j + 1) + "_text" )%> required size="10"> -->
                                        <!-- <a class="<%=String(10 - i) + "pt" + String(j + 1) %> btn search-btn">SEARCH</a> -->
                                    </div>
                                    <!-- <form class=<%=String(10 - i) + "pt" + String(j + 1) + "_form" %> action="/main" method="POST">

                                </form> -->
                                
                            </td>
                            <%}%>
                                <% } %>
                </div>
                <% } %>

        </div>

        <script>
            var inputname, rank, name, image;
    
            function delay(callback, ms) {
                var timer = 0;
                return function () {
                    var context = this, args = arguments;
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        callback.apply(context, args);
                    }, ms || 0);
                };
            }
    
            $(document).ready(function() {
                $('.pname').on('keyup', delay(function() {
                    var sname = $(this).val();
                    inputname = $(this).attr('name');
                    inputname = inputname.replace('_text', '');
                    var data = {
                        name: sname,
                        inputname : inputname
                    };
    
                    $.ajax({
                        url: '/main',
                        type: 'post',
                        data: data,
                        success: function(json) {
                            if(json.name != ""){
                                name = inputname+"_text";
                                image = "."+inputname+"_img";
                                rank = "."+inputname+"_rank";
                                $('input[name='+name+']').val(json.name);
                                $(image).attr('src', json.img);
                                $(rank).text(json.rank.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","));
                            }
                            
                        }
                    })
                },500));

                $('.pname').focusout(function() {
                })
            })
        </script>
    </div>
    
    </body>

    </html>