<%- include ("./layout/top") %>
    <div class="content">
        <div class="text">
            <h1>CHOOSE YOUR BEST KOREAN PLAYER IN 2021</h1>
        </div>
        <div class="black-bg ">
            <div class="content-bg">

            </div>
        </div>

    </div>
    <center>
        <table class="main_table" border="1">
            <% for(var i=0; i < vote_info.length; i++){ %>
                <tr>
                    <th>
                        <center>
                            <%= 10 - i %>pt
                        </center>
                    </th>
                    <% for(var j=0; j < vote_info[i].length; j++){ %>
                        <%if(vote_info[i][j]){%>
                            <td>
                                
                                    <table class="sub_table">
                                        <tr>
                                            <td><span style="color: white; margin-right: 1rem;" class=<%=(String(10 - i) + "pt" + String(j + 1) + "_name" )%>>
                                            </span></td>
                                            <td rowspan="2"><img style="width: 64px; " class=<%=(String(10 - i) + "pt" + String(j + 1) + "_img" )%> src=""></td>
                                        </tr>
                                        <tr>
                                            <td><span style="color: white; margin-right: 1rem;" class=<%=(String(10 - i) + "pt" + String(j + 1) + "_rank" )%>>
                                        </span></td>
                                            <td></td>
                                        </tr>

                                    </table>
                                    <!-- <p>
                                        <%=String(10 - i) + "pt" + String(j + 1) %>
                                    </p> -->
                                    <div class="input_wrap">
                                        <input class="pname" type="text" name=<%=(String(10 - i) + "pt" + String(j + 1) + "_text" )%> required size="10">
                                        <!-- <button type="button" class=<%=String(10 - i) + "pt" + String(j + 1) %>></button> -->
                                    </div>
                                    <!-- <form class=<%=String(10 - i) + "pt" + String(j + 1) + "_form" %> action="/main" method="POST">

                                </form> -->
                                
                            </td>
                            <%}%>
                                <% } %>
                </tr>
                <% } %>
        </table>
    </center>

    <script>
        var inputname;
        $(document).ready(function() {
            $('.pname').on('keyup', function() {
                var sname = $(this).val();
                inputname = $(this).attr('name');
                inputname = inputname.replace('_text', '');
                var data = {
                    name: sname
                };

                $.ajax({
                    url: '/main',
                    type: 'post',
                    data: data,
                    success: function(json) {
                        var name = "."+inputname+"_name";
                        var image = "."+inputname+"_img";
                        var rank = "."+inputname+"_rank";
                        console.log("name = "+name + "image = "+ image + "rank = " + rank);
                        $(name).text(json.name);
                        $(image).attr('src', json.img);
                        $(rank).text(json.rank);
                    }
                })
            })
        })
    </script>
    </div>

    </body>

    </html>