<%- include ("./layout/top") %>
    <div class="content">
        <div class="text">
            <h1>CHOOSE YOUR BEST KOREAN PLAYER IN 2021</h1>
        </div>
        <div class="black-bg ">
            <div class="content-bg">

            </div>
        </div>

    </div>
    <table border="1">
        <% for(var i=0; i < vote_info.length; i++){ %>
            <tr>
                <th>
                    <center>
                        <%= 10 - i %>pt</center>
                </th>
                <% for(var j=0; j < vote_info[i].length; j++){ %>
                    <%if(vote_info[i][j]){%>
                        <td>
                            <center>
                                <% if (typeof (info[i][j].name)=='undefined' ) { %>
                                    <div style="display: flex; justify-content: center; align-items: flex-start;">
                                        <span style="color: white; margin-right: 1rem;"></span>
                                        <img style="width: 64px; " src="">
                                    </div>
                                    <% } else { %>
                                        <div style="display: flex; justify-content: center; align-items: flex-start;">
                                            <span style="color: white; margin-right: 1rem;">
                                                <%= info[i][j].name %>
                                            </span>
                                            <img style="width: 64px; " src="<%=info[i][j].img%>">
                                        </div>
                                        <% } %>
                                            <form name="<%= info[i][j].pt %>" , action="/main" , method="POST">
                                                <input type="text" name="<%= info[i][j].pt %>" required size="10">
                                            </form>
                            </center>
                        </td>
                        <%}%>
                            <% } %>
            </tr>
            <% } %>
    </table>

    </div>

    </body>

    </html>